body {
    display: flex;
}

.alert.alert-success.ml-5 {
    margin-left: 68px;
    padding: 5px;
}

header.headerDetail {
    margin: 70px;
    height: 120px;
    width: 450px;
}

section.sectionDetail {
    margin-right: 75px;
}

.mb-3 {
    width: 794px;
    margin-left: 68px;
    margin-bottom: 1rem!important;
}

section.sectionDetail {
    margin-top: 52px;
    margin-right: 75px;
}